BASE_URL=/ICTTS/public
APP_PUBLIC_URL=https://ebps.nfa.gov.ph/ICTTS/public

DB_HOST=127.0.0.1
DB_NAME=ictts
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4

MAIL_FROM=tech.support@nfa.gov.ph
MAIL_FROM_NAME=ICTSD
ICT_NOTIFICATION_EMAIL=tech.support@nfa.gov.ph

SMTP_ENABLED=true
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=tech.support@nfa.gov.ph
SMTP_PASSWORD=
SMTP_ENCRYPTION=tls
